.login{
    max-width: 420px;
    margin: 5% auto;
    background-color: #444950;
    border-radius: 25px;
    padding: 25px;

    .alert-success{
        background-color: #051b11;
        p{
            margin-left: 5px;
        }
    }
    .alert-color{
        color: #75b798;
    }

    h1{
        color: lightgreen;
    }

    div{
        padding: 5px;

        #helpEmail{
            color: rgb(107, 177, 107);
        }

        #helpPass{
            color: rgb(107, 177, 107);
        }
        #helpUser{    
            color: rgb(107, 177, 107);
        }
        #helpConfirm{
            color: rgb(107, 177, 107);
        }

        .helpText{
            border-radius: 10px;
            background-color: #2e3236;
        }
    }

    .form{
        padding: 10px;
    }

    .checkbox{
        margin-left: 20px;
    }

    .submit{
        
        p{
            padding-top: 10px;
            
            span{
                padding: 10px;
                
                .signUp{
                    color: lightgreen;
                }
            }
        }
    }

}

.offscreen{
    display: none;
}
